<!-- FOOTER -->
  <footer class="bg-dark text-white text-center py-4">
    <p>Síguenos en redes sociales:</p>
    <div class="d-flex gap-3 justify-content-center">
      <a href="https://facebook.com" target="_blank">
        <img src="img/facebook.png" alt="Facebook" width="24">
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="img/instagram.png" alt="Instagram" width="24">
      </a>
      <a href="https://x.com" target="_blank">
        <img src="img/twitter.png" alt="x" width="24">
      </a>
    </div>
    <p>Correo: contacto&#64;ligadeportivamaestredecalatrava.com</p>

    <!-- Enlaces legales -->
    <div class="d-flex gap-3 justify-content-center">
      <a href="index.html">Inicio</a>
      <a href="aviso-legal.html">Aviso Legal</a>
      <a href="privacidad.html">Política de Privacidad</a>
      <a href="cookies.html">Política de Cookies</a>
    </div>

    <!-- Copyrights -->
    <div>
      <p>&copy; 2025 LIGA I.E.S. Maestre de Calatrava. Todos los derechos reservados. Iasmina Adriana Maghiar</p>
    </div>

  </footer>
